include README.md LICENSE
recursive-include froide_legalaction/templates *
recursive-include froide_legalaction/static *
recursive-include froide_legalaction/locale *.po
recursive-include froide_legalaction/locale *.mo
