{% extends "froide_legalaction/legaldecision/base.html" %}
{% load form_helper sekizai_tags i18n %}
{% block title %}
  {% translate "Create legal decision" %}
{% endblock title %}
{% block main %}
  <div class="bg-body-tertiary">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active">
                <a href="{% url "legaldecision:list" %}">{% translate "Legal Decisions" %}</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">{% translate "Add Legal Decisions" %}</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row py-3">
        <div class="col-8">
          <h2 class="h5">{% translate "Add Legal Decisions" %}</h2>
          <form method="post" class="py-5" enctype="multipart/form-data">
            {% csrf_token %}
            {% render_form form %}
            <input class="btn btn-primary btn float-end"
                   type="submit"
                   value="{% translate "Add decision" %}">
          </form>
        </div>
      </div>
    </div>
  </div>
  {% addtoblock "css" %}
  {{ form.media.css }}
{% endaddtoblock %}
{% addtoblock "js" %}
{{ form.media.js }}
{% endaddtoblock %}
{% endblock main %}
