{% extends "froide_legalaction/legaldecision/base.html" %}
{% load form_helper block_helper i18n %}

{% block title %}{% translate 'Legal Decisions' %}{% endblock %}

{% block main %}
<div class="bg-body-tertiary pt-5 pb-2">
  <div class="container">
    <div class="pb-4">
      {% if perms.froide_legalaction.change_legaldecision %}
        <a class="btn btn-primary float-end ms-2" href="{% url 'legaldecision:list-incomplete' %}">{% translate 'update incomplete decisions' %}</a>
      {% endif %}

      {% if perms.froide_legalaction.add_legaldecision %}
        <a class="btn btn-primary float-end" href="{% url 'legaldecision:create' %}">{% translate 'Add decisions' %}</a>
      {% endif %}

      <h1>{% translate 'Legal Decisions' %}</h1>
      <p>{% translate 'Decisions and judgements in the field of freedom of information' %}</p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form method="get">
          <div class="input-group my-2">
            {{ filter.form.quick_search }}
            <button class="btn btn-primary" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="bg-body-tertiary py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="mb-3 mt-0">
          <h3 class="h5">{% translate 'Refine your query' %}</h3>
          {% if selected_filters %}
            <h6>{% translate 'Currently selected:' %}</h6>
            <ul class="list-unstyled">
            {% for name, url in selected_filters %}
              <li>
                <a href="?{{ url }}">
                  <small>{{ name }} <i class="fa fa-times" aria-hidden="true"></i></small>
                </a>
              </li>
            {% endfor %}
            </ul>
          {% endif %}
          <form method="get">
            <ul class="list-unstyled">
              {% for field in filter.form.visible_fields %}
                {% if not field.name == "quick_search" %}
                <li>
                  <div class="filter__field my-3">
                    {% render_field field horizontal=False %}
                  </div>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
          </form>
        </div>
      </div>

      <div class="col-md-9">
        {% if result.paginator.count %}
          {% include "froide_legalaction/includes/pagination.html" with page_obj=result %}
        {% endif %}

        {% for decision in result %}
          {% include "froide_legalaction/includes/_legal_decision.html" with object=decision %}
        {% endfor %}

        {% if result.paginator.count %}
          {% include "froide_legalaction/includes/pagination.html" with page_obj=result %}
        {% endif %}

      </div>
    </div>
  </div>
</div>

{% addtoblock "css" %}
{{ filter.form.media.css }}
{% endaddtoblock %}

{% addtoblock "js" %}
{{ filter.form.media.js }}
{% endaddtoblock %}

{% endblock %}
