{% extends base_template %}

{% load i18n %}
{% load floppyforms %}

{% block main %}
<h3>{% trans "Propose a FOI law suit" %}</h3>
<p>
  {% blocktrans %}
    Please fill out the form below to propose a law suit for your FOI request.
  {% endblocktrans %}
</p>

{% block content %}
<form class="form-horizontal" method="post" action=""{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
  {% csrf_token %}
  {% form form using "bootstrap/horizontal.html" %}
  <button type="submit" class="btn btn-primary btn-lg pull-right">
    {% blocktrans %}Submit{% endblocktrans %}
  </button>
</form>
{% endblock %}

{% endblock %}
