{% extends base_template %}

{% load i18n %}
{% load form_helper %}

{% block main %}
<h3>{% trans "Propose a FOI law suit" %}</h3>
<p>
  {% blocktrans %}
    Please fill out the form below to propose a law suit for your FOI request.
  {% endblocktrans %}
</p>

{% block content %}
<form class="form-horizontal" method="post" action=""{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
  {% csrf_token %}
  {% render_form form %}
  <button type="submit" class="btn btn-primary btn-lg float-end">
    {% blocktrans %}Submit{% endblocktrans %}
  </button>
</form>

{% include "_frontend.html" with entry_point="publicbody.js" %}
{% endblock %}

{% endblock %}
