{% extends "base.html" %}
{% load form_helper block_helper i18n %}
{% load static %}
{% load filingcabinet %}
{% load markup %}

{% block title %}{% translate 'Legal Decisions' %}: {{ object.title }}{% endblock %}

{% block body %}
<div class="bg-body-tertiary">
  <div class="container">
    <div class="row justify-content-left">
      <div class="col-md-8">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="{% url 'legal-decision-list' %}">{% translate 'Legal Decisions' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ object.title|truncatechars:50 }}</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="bg-body-tertiary pt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-3">
        <div class="mb-3 mt-0 sticky-top">
          <h3 class="h5">{% translate 'Information' %}</h3>
          {% if not form %}
          <dl>
            {% if object.reference %}
              <dt>{% translate 'reference' %}</dt>
              <dd class="user-select-all">{{ object.reference }}</dd>
            {% endif %}

            {% if object.ecli %}
              <dt><abbr title="{% translate 'European Case Law Identifier' %}">ECLI</abbr></dt>
              <dd><code class="user-select-all">{{ object.ecli }}</code></dd>
            {% endif %}


            {% if object.date %}
              <dt>{% translate 'date' %}</dt>
              <dd>{{ object.date }}</dd>
            {% endif %}

            {% if object.foi_court %}
              <dt>{% translate 'court' %}</dt>
              <dd>
                <a href="{{ object.foi_court.get_absolute_url }}">{{ object.foi_court }}</a>
              </dd>
            {% elif object.court_name %}
              <dt>{% translate 'court' %}</dt>
              <dd>
                {{ object.court_name }}
              </dd>
            {% endif %}

            {% if object.law_name %}
              <dt>{% translate 'law' %}</dt>
              <dd>{{ object.law_name }}</dd>
            {% endif %}
          </dl>
          {% endif %}

          {% if form %}
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
              {% render_field field horizontal=False %}
            {% endfor %}
            <button class="btn btn-primary btn-sm float-end" type="submit">{% translate 'submit' %}</button>
            {% if has_next %}
            <button class="btn btn-primary btn-sm float-end me-2" type="submit" name="next">{% translate 'submit and next' %}</button>
            {% endif %}
          </form>
          {% endif %}
        </div>
      </div>
      <div class="col-md-9 mb-3">
        {% include "froide_legalaction/includes/_legal_decision.html" %}
        {% if object.foi_document %}
          {% get_pdf_viewer object.foi_document %}

          {% include "_frontend.html" with entry_point="filingcabinet.js" %}
        {% elif object.fulltext %}
          <div class="bg-body shadow-gray p-3 mb-4">
            {{ object.fulltext|markdown }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% addtoblock "css" %}
  {{ form.media.css }}
{% endaddtoblock %}

{% addtoblock "js" %}
  {{ form.media.js }}
{% endaddtoblock %}

{% endblock %}
