{% load i18n %}
<div class="bg-body shadow-gray p-3 mb-4">
  {% if show_incomplete_fields %}
    <div class="alert alert-danger" role="alert">
      {% translate "Missing Information: " %}{{ decision.fields_incomplete }}
    </div>
  {% endif %}

  {% if object.law_name %}
    <span class="fw-semibold font-size-sm mb-1 me-2">{{ object.law_name }}</span>
  {% endif %}
  <h3 class="h5 mt-0 mb-1">
    <a href="{% if show_incomplete_fields %}{% url 'legaldecision:incomplete-update' decision.id %}?ids={{ request.GET.ids }}{% else %}{% url 'legaldecision:detail' object.id %}{% endif %}">
      {% if object.title %}
        {{ object.title }}
      {% else %}
        {{ object.generated_title }}
      {% endif %}
    </a>
  </h3>
  {% if object.reference != object.generated_title %}
    <p><small>{{ object.reference }}</small></p>
  {% endif %}
  <p class="text-body-secondary">{{ object.abstract }}</p>
  <p class="text-end">
    {% for tag in object.tags.all %}
      <a class="text-decoration-none" href="{% url 'legaldecision:list' %}?tags={{ tag.id }}">
        <span class="badge rounded-pill text-bg-secondary">
          {{ tag.name }}
        </span>
      </a>
    {% endfor %}
  </p>
</div>