{% load i18n %}

{% load legalaction %}

<div class="card-body">
<h3>{% trans "Automatically create a lawsuit" %}</h3>

{% with answer=object|questionaire_taken %}
    <p>
      Ihre Anfrage wurde seit mehr als drei Monaten nicht beantwortet? Möglicherweise können Sie eine Untätigkeitsklage
      einreichen.
      Mit unserem <strong>Klageautomaten</strong> können Sie überprüfen, ob eine Klage in Betracht kommt. Wenn das der Fall ist, wird direkt
      eine Klageschrift für Sie erstellt.
    </p>
    <p>
      Voraussetzung hierfür ist zunächst, dass die Behörde innerhalb von 3 Monaten und ohne zureichenden Grund nicht reagiert hat. Die Klage kann dann, anders als sonst, erhoben werden, ohne dass zuvor ein Widerspruchsverfahren abgeschlossen worden ist (§ 75 VwGO).
    </p>
    <p>Der Klageautomat wird Schritt für Schritt alle relvanten Informationen abfragen und, wenn alle Voraussetzungen erfüllt sind, eine Klageschrift generieren.</p>
  </div>
  <div class="card-footer border-0 bg-white">
      <a class="btn btn-primary" href="{% url 'klageautomat-info' pk=object.pk %}" target="_blank">
        {% trans "Click here to create a law suit" %}
      </a>
      {% if answer %}
      <a class="btn btn-primary" href="{% url 'klageautomat-edit-answer' pk=object.pk %}" target="_blank">
        {% trans "Click here to edit a law suit" %}
      </a>
      {% endif %}
  </div>
{% endwith %}