{% load i18n %}
{% load legalaction %}

{% with answer=object|questionaire_taken %}
<div class="card-body">
<h3>{% trans "Automatic lawsuit check" %}</h3>
    <p>
      Ihre Anfrage oder ihr Widerspruch wurden seit mehr als drei Monaten nicht beantwortet? Möglicherweise können Sie eine Untätigkeitsklage einreichen.
      Mit unserem <strong>Klag-o-maten</strong> können Sie überprüfen, ob eine Untätigkeitsklage in Betracht kommt. Wenn das der Fall ist, wird direkt
      eine Klageentwurf für Sie erstellt. <strong>Wichtig: Die Untätigkeitsklage wird nicht abgeschickt!</strong>
    </p>
    <p>
      Voraussetzung hierfür ist zunächst, dass die Behörde innerhalb von 3 Monaten nicht reagiert hat. Die Untätigkeitsklage kann dann, anders als sonst, erhoben werden, ohne dass zuvor ein Widerspruchsverfahren abgeschlossen worden ist.
    </p>
    <p>Der Klag-o-mat wird Schritt für Schritt alle wichtigen Informationen abfragen und, wenn alle Voraussetzungen erfüllt sind, eine Klageentwurf erstellen.</p>
    {% if answer %}
    <div class="alert alert-info">
      <p>Sie haben bereits einen Klageentwurf zu dieser Anfrage erstellt. Sie können den Entwurf bearbeiten und herunterladen oder die Klageprüfung erneut duchlaufen.</p>
    </div>
    {% endif %}
  </div>
  <div class="card-footer border-0 bg-white">
      <a class="btn btn-primary" href="{% url 'klageautomat-info' pk=object.pk %}" target="_blank">
        {% if answer %}
        {% trans "Restart lawsuit check" %}
        {% else %}
        {% trans "Start lawsuit check now" %}
        {% endif %}
      </a>
      {% if answer %}
      <a class="btn btn-primary" href="{% url 'klageautomat-edit-answer' pk=object.pk %}" target="_blank">
        {% trans "Edit lawsuit" %}
      </a>
      {% endif %}
  </div>
{% endwith %}
