{% if request.user.is_staff and object.response_deadline_has_past %}
  <div class="row row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card info-box--regular rounded-0 h-100">
          {% include "froide_legalaction/includes/lawsuit_propoposal.html" with object=object %}
      </div>
    </div>
    <div class="col">
      <div class="card info-box--regular rounded-0 h-100">
        {% include "froide_legalaction/includes/lawcase_questionaire.html" with object=object %}
      </div>
    </div>
  </div>
{% else %}
{% include "froide_legalaction/includes/lawsuit_propoposal.html" with object=object %}
{% endif %}

