{% load legalaction%}

{% can_use_klageautomat object as has_right_permissions %}
<div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
  {% if object.is_actionable %}
  <div class="col">
    <div class="card info-box--regular rounded-0 h-100">
        {% include "froide_legalaction/includes/lawsuit_propoposal.html" with object=object %}
    </div>
  </div>
  {% endif %}

  {% if has_right_permissions %}
  <div class="col">
    <div class="card info-box--regular rounded-0 h-100">
      {% include "froide_legalaction/includes/lawcase_questionaire.html" with object=object %}
    </div>
  </div>
  {% endif %}
</div>