@import '~froide/frontend/styles/variables';


.lawsuits-table-plugin {
  table {
    width: 100%;
  }
  
  .lawsuit-table-details {
    display: none;
  }

  @include media-breakpoint-down(md) {
    td:nth-child(n+3), th:nth-child(n+3) {
      display: none;
    }
  }

  th {
    width: auto;
    white-space: nowrap;
  }

  th.topic {
    width: max-content;
  }

  tr.active {
    background-color: $gray-100;

    td, th {
      border-bottom: none;
    }
    
    .lawsuit-table-item-title,
    .lawsuit-table-item th {
      font-weight: bold;
    }

    + .lawsuit-table-details {
      display: table-row;
    }

    td:nth-child(n+3) {
      display: none;
    }
  }

  .lawsuit-table-details {
    background-color: $gray-100;

    dl {
      width: 100%;
      
      @include media-breakpoint-up(md) {
        display: grid;
        grid-template-columns: min-content 1fr min-content 1fr;
      }
    }
    
    dt {
      font-weight: normal;
      color: $body-color;
      padding-right: 0.75rem;
      hyphens: none;
      white-space: nowrap;
    }

    td {
      color: $secondary;
    }
  }
} 