{% load i18n %}

{% if lawsuits|length == 0 %}
  <p class="text-muted">{% trans "There are currently no pending trials." %}</p>
{% else %}
<ul>
  {% for lawsuit in lawsuits %}
    <li>
      <a href="/info/ueber/klagen/#klage-detail-{{ lawsuit.pk }}" data-toggle-row>{{ lawsuit }}</a>
      <br>
      <time datetime="{{ lawsuit.end_date|date:"c" }}">{{ lawsuit.end_date }}</time>
      {% blocktrans with court=lawsuit.last_instance.court %}at {{ court }}{% endblocktrans %}
    </li>
  {% endfor %}
</ul>
{% endif %}
