{% load markup %}
{% load humanize %}
{% load static %}
{% load sekizai_tags %}

<div class="lawsuits-table-filter">
  <h6>Filter</h6>
  <div class="row">
    <div class="col-md-4">
      <input type="search" placeholder="Suche..." class="form-control" id="lawsuits-search">
    </div>
    <div class="col-md-4">
      <select class="form-control" id="lawsuits-status">
        <option value="all">Status...</option>
        <option value="active">läuft</option>
        {% for result in result_options %}
          <option value="{{ result.0 }}">{{ result.1 }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col-md-4">
      <select class="form-control" id="lawsuits-court">
        <option value="all">Gericht...</option>
        {% for court in court_options %}
          <option value="{{ court.0 }}">{{ court.1 }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

<div class="table-responsive lawsuits-table-plugin mt-3">
  <table class="table table-fixed">
    <thead>
      <tr>
        <th><span class="sr-only">Nummer</span></th>
        <th><span class="sr-only">Status</span></th>
        <th>Thema</th>
        <th>Eingereicht am</th>
        <th>Gericht</th>
        <th class="text-right">Kosten</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        <tr class="lawsuit-table-none hidden">
          <td colspan="6" class="text-center py-5">
            <span>Keine Ergebnisse gefunden.</span>
          </td>
        </tr>
        <tr class="lawsuit-table-item" data-pk="{{ object.pk }}" data-status="{% if object.active %}active{% else %}{{ object.result }}{% endif %}" data-court="{{ object.court_type }}" id="klage-detail-{{ object.pk }}">
          <td>{{ object.pk }}</td>
          <td class="text-center">
            <i class="fa fa-{{ object.result_icon }} text-{{ object.result_bootstrap_class }}" data-toggle="tooltip" title="{% if object.active %}läuft{% else %}{{ object.get_result_display }}{% endif %}"></i>
          </td>
          <td class="lawsuit-table-item-title">
            <a href="#klage-detail-{{ object.pk }}" class="d-flex">
              {{ object.title }}
              <span class="small ml-2">
                <i class="fa fa-chevron-down"></i>
              </span>
            </a>
          </td>
          <td>
            {{ object.start_date|date:"SHORT_DATE_FORMAT" }}
          </td>
          <td>
            <abbr title="{{ object.court.name }}" data-toggle="tooltip">{{ object.court_type }}</abbr>
          </td>
          <td class="text-right">
            {{ object.costs|intcomma }} €
          </td>
        </tr>
        <tr class="lawsuit-table-details">
          <td></td>
          <td colspan="6">
            <div class="lawsuit-table-details-inner">
              <div class="row">
                <div class="col-md-6">
                  <table>
                    <tr>
                      <th>Eingereicht am</th>
                      <td>{{ object.start_date|date:"SHORT_DATE_FORMAT" }}</td>
                    </tr>
                    <tr>
                      <th>Aktenzeichen</th>
                      <td>{{ object.reference }}</td>
                    </tr>
                    <tr>
                      <th>Kläger:in</th>
                      <td>{{ object.plaintiff }}</td>
                    </tr>
                    <tr>
                      <th>Gericht</th>
                      <td>{{ object.court.name }}</td>
                    </tr>
                  </table>
                </div>

                <div class="col-md-6">
                  <table>
                    <tr>
                      <th>Beklagte</th>
                      <td>{{ object.publicbody.name }}</td>
                    </tr>
                    <tr>
                      <th>Kosten</th>
                      <td>
                        {% if object.costs %}
                          {{ object.costs | intcomma }} €
                        {% else %}
                          <span class="text-muted">unbekannt</span>
                        {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <th>Anfrage</th>
                      <td>
                        <a href="{{ object.request.get_absolute_url }}">
                          {{ object.request.title }}
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <th>Status</th>
                      <td class="text-{{ object.result_bootstrap_class }}">
                        {% if object.active %}läuft{% else %}{{ object.get_result_display }}{% endif %}
                      </td>
                    </tr>
                  </table>
                </div>
              </div>

              <div class="mt-4 text-body">
                {{ object.description | markdown }}
                {{ object.links | urlizetrunc:25 | linebreaksbr }}
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5" class="text-right">
          Kosten insgesamt
        </td>
        <td class="text-right">
          {{ total_costs|intcomma }} €
        </td>
      </tr> 
      <tr>
        <td colspan="5" class="text-right">
          <strong>Ungedeckte Kosten</strong>
        </td>
        <td class="text-right text-danger">
          {{ total_costs_not_covered|intcomma }} €
        </td>
      </tr>
    </tfoot>
  </table>
</div>

{% addtoblock "js" %}
  <script src="{% static "js/lawsuits_table.js" %}"></script>
{% endaddtoblock %}

{% addtoblock 'css' %}
  <link rel="stylesheet" href="{% static "css/lawsuits_table.css" %}">
{% endaddtoblock %}