{% load markup %}
{% load humanize %}

<table class="table">
  <thead>
    <tr>
      <th>Thema</th>
      <th>Datum der Klage</th>
      <th>Gericht</th>
      <th class="text-right">Kosten</th>
      <th>Ergebnis</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
      <tr>
        <td>
          <a href="#klage-detail-{{ object.pk }}">
            {{ object.title }}
            {% if object.reference %}({{ object.reference }}){% endif %}
          </a>
        </td>
        <td>
          {{ object.start_date|date:"SHORT_DATE_FORMAT" }}
        </td>
        <td>
          {{ object.court_type }}
        </td>
        <td class="text-right">
          {{ object.costs|intcomma }}&nbsp;EUR
          {% if object.costs_covered_percent %}<br/>({{ object.costs_covered_percent }}% finanziert){% endif %}
        </td>
        <td>
          <span class="badge badge-{{ object.result_bootstrap_class }}">
            {% if object.active %}
              läuft
            {% else %}
              {{ object.get_result_display }}
            {% endif %}
          </span>
        </td>
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3" class="text-right">
        Kosten insgesamt
      </td>
      <td class="text-right">
        {{ total_costs|intcomma }}&nbsp;EUR
      </td>
      <td></td>
    </tr>
    <tr>
      <td colspan="3" class="text-right">
        Kosten gedeckt
      </td>
      <td class="text-right">
        {{ total_costs_percentage }}%
      </td>
      <td></td>
    </tr>
    <tr>
      <td colspan="3" class="text-right">
        <strong>Kosten nicht gedeckt</strong>
      </td>
      <td class="text-right">
        {{ total_costs_not_covered|intcomma }}&nbsp;EUR
      </td>
      <td>
        <a href="/spenden/">
          Spenden
        </a>
      </td>
    </tr>
  </tfoot>
</table>

{% for object in object_list %}
<div class="card mb-3" id="klage-detail-{{ object.pk }}">
    <div class="card-header">
      {% if object.plaintiff_name %}{{ object.plaintiff_name }} gegen {% endif %}
      <strong>{{ object.publicbody.name }}</strong>
    </div>
    <div class="card-body">
      <h5 class="card-title">
        {{ object.title }}{% if object.reference %}({{ object.reference }}){% endif %}
        {% if object.court %}am {{ object.court.name }}{% endif %}
      </h5>

      <dl>
        {% if object.request %}
          <dt>
            Anfrage auf FragDenStaat.de
          </dt>
          <dd>
            <a href="{{ object.request.get_absolute_url }}">
              {{ object.request.title }}
            </a>
          </dd>
        {% endif %}
        {% if object.start_date %}
          <dt>
            Klage eingereicht am
          </dt>
          <dd>
            {{ object.start_date|date:"DATE_FORMAT" }}
          </dd>
        {% endif %}
        {% if object.end_date %}
          <dt>
            Abgeschlossen am
          </dt>
          <dd>
            {{ object.end_date|date:"DATE_FORMAT" }}
          </dd>
        {% endif %}
        {% if object.result %}
          <dt>
            Ergebnis
          </dt>
          <dd>
            <span class="badge badge-{{ object.result_bootstrap_class }}">
              {{ object.get_result_display }}
            </span>
          </dd>
        {% endif %}
      </dl>

      {{ object.description | markdown }}

      {% if object.links %}
      <h4>Links</h4>
      {{ object.links | markdown }}
      {% endif %}

      {% if object.cost_detail %}
      <h4>Kosten</h4>
      {{ object.cost_detail | markdown }}
      {% endif %}

      {% if object.needs_money %}
        <div class="text-right">
          <a href="/spenden/" class="btn btn-primary">Spenden Sie für diese Klage</a>
        </div>
      {% endif %}
    </div>
  </div>

{% endfor %}