{% load cms_tags %}
{% page_url "lawsuits" as lawsuits_url %}
<li class="col col-12 col-md-4 d-flex mb-2">
    <div class="border border-2 border-gray-300 p-3 w-100">
        <p class="mb-2">
            <a href="{{ lawsuits_url }}#klage-detail-{{ lawsuit.pk }}"
               data-toggle-row
               class="action-link">{{ lawsuit }}</a>
        </p>
        <time datetime="{{ lawsuit.end_date|date:"c" }}">
            <i class="fa fa-calendar me-1"></i> {{ lawsuit.end_date }}
        </time>
        <div>
            <i class="fa fa-legal me-1"></i>
            {{ lawsuit.last_instance.court }}
        </div>
    </div>
</li>
